

 @media (min-width: 768px) {
    .nav-item:hover .dropdown-menu{ display: block; } 

    /*style to get the triangle in the dropdown menu  */
 .dropdown-menu::before {
    border-bottom: 15px solid #ffffff;
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    left: 15px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    position: absolute;
    top: -10px;
    } 

 }

.search-section-outside-container {
   height: 500px;
   background-image: url(/images/background-image.png);
   background-size: 100% 100%;
}


.opacity-75 {
  opacity: 75%;
}



.search-dropdown {
   max-width: 150px;
}

.card-title {
   color: #9c372f;
}

.card-text {
   color: #1c567b;
}

.dark-red-background {
   background-color: #60231e;
}

