
* {
    /* border: 1px solid; */
}
 
 @media (min-width: 768px) {
    .nav-item:hover .dropdown-menu{ display: block; } 

    /*style to get the triangle in the dropdown menu  */
 .dropdown-menu::before {
    border-bottom: 15px solid #ffffff;
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    left: 15px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    position: absolute;
    top: -10px;
    } 

 }

 .testing {
    box-sizing: content-box; 
     margin: -0.5rem 0;
 }